{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

<h1 class="text-3xl font-bold my-6">{{ book.title }}</h1>
<p class="text-lg">Auteur : <strong>{{ book.author }}</strong></p>
<p class="text-gray-600">Genre : <strong>{{ book.genre }}</strong></p>
<p class="text-gray-600">Note : <strong>{{ book.rating }}/5</strong></p>
<p class="text-gray-600">Synopsis :<br> <strong>{{ book.overview }}</strong></p>

{% if book.isAvailable %}
    <p class="text-green-600 font-medium mt-2">✅ Ce livre est disponible</p>
    <a href="{{ path('book_loan', { id: book.id }) }}" class="mt-4 inline-block bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-700 transition">📖 Emprunter ce livre</a>
{% else %}
    <p class="text-red-600 font-medium mt-2">❌ Ce livre est actuellement emprunté</p>
{% endif %}
<br>
<a href="{{ path('homepage') }}" class="mt-4 inline-block text-blue-500 hover:underline">← Retour à la liste des livres</a>

{% for message in app.flashes('success') %}
    <p class="text-green-500 mt-4">{{ message }}</p>
{% endfor %}
{% for message in app.flashes('error') %}
    <p class="text-red-500 mt-4">{{ message }}</p>
{% endfor %}

{% endblock %}
